element {
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;

}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;

  margin-right: calc(.5rem * var(--tw-space-x-reverse));

  margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)));

}
.text-textColor1 {
  color: var(--darkreader-text--text-color-1, var(--darkreader-text-000000, #e8e6e3));

}
.text-textColor1 {
  color: var(--text-color-1);

}
.font-semibold {
  font-weight: 600;

}
.text-sm {
  font-size: .875rem;

  line-height: 1.25rem;

}
a, p {
  text-decoration-color: currentcolor;

}
a, p {
  -webkit-text-decoration: none;

  -moz-text-decoration: none;

  text-decoration: none;

    text-decoration-color: currentcolor;

}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;

    margin-right: 0px;
    margin-left: 0px;

}
*, ::after, ::before {
  border-top-color: var(--darkreader-border-e5e7eb, #363b3d);

  border-right-color: var(--darkreader-border-e5e7eb, #363b3d);

  border-bottom-color: var(--darkreader-border-e5e7eb, #363b3d);

  border-left-color: var(--darkreader-border-e5e7eb, #363b3d);

}
*, ::after, ::before {
  --tw-border-spacing-x: 0;

  --tw-border-spacing-y: 0;

  --tw-translate-x: 0;

  --tw-translate-y: 0;

  --tw-rotate: 0;

  --tw-skew-x: 0;

  --tw-skew-y: 0;

  --tw-scale-x: 1;

  --tw-scale-y: 1;

  --tw-scroll-snap-strictness: proximity;

  --darkreader-bg--tw-ring-offset-width: 0px;

  --darkreader-bg--tw-ring-offset-color: var(--darkreader-background-ffffff, #181a1b);

  --darkreader-bg--tw-ring-color: var(--darkreader-background-3b82f680, rgba(8, 68, 166, 0.5));

  --darkreader-bg--tw-ring-offset-shadow: 0 0 #0000;

  --darkreader-bg--tw-ring-shadow: 0 0 #0000;

  --darkreader-bg--tw-shadow: 0 0 #0000;

  --darkreader-bg--tw-shadow-colored: 0 0 #0000;

}
*, ::after, ::before {
  box-sizing: border-box;

  border: 0 solid #e5e7eb;

    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);

}
*, ::after, ::before {
  --tw-border-spacing-x: 0;

  --tw-border-spacing-y: 0;

  --tw-translate-x: 0;

  --tw-translate-y: 0;

  --tw-rotate: 0;

  --tw-skew-x: 0;

  --tw-skew-y: 0;

  --tw-scale-x: 1;

  --tw-scale-y: 1;

  --tw-pan-x: ;

  --tw-pan-y: ;

  --tw-pinch-zoom: ;

  --tw-scroll-snap-strictness: proximity;

  --tw-gradient-from-position: ;

  --tw-gradient-via-position: ;

  --tw-gradient-to-position: ;

  --tw-ordinal: ;

  --tw-slashed-zero: ;

  --tw-numeric-figure: ;

  --tw-numeric-spacing: ;

  --tw-numeric-fraction: ;

  --tw-ring-inset: ;

  --tw-ring-offset-width: 0px;

  --tw-ring-offset-color: #fff;

  --tw-ring-color: rgba(59,130,246,.5);

  --tw-ring-offset-shadow: 0 0 #0000;

  --tw-ring-shadow: 0 0 #0000;

  --tw-shadow: 0 0 #0000;

  --tw-shadow-colored: 0 0 #0000;

  --tw-blur: ;

  --tw-brightness: ;

  --tw-contrast: ;

  --tw-grayscale: ;

  --tw-hue-rotate: ;

  --tw-invert: ;

  --tw-saturate: ;

  --tw-sepia: ;

  --tw-drop-shadow: ;

  --tw-backdrop-blur: ;

  --tw-backdrop-brightness: ;

  --tw-backdrop-contrast: ;

  --tw-backdrop-grayscale: ;

  --tw-backdrop-hue-rotate: ;

  --tw-backdrop-invert: ;

  --tw-backdrop-opacity: ;

  --tw-backdrop-saturate: ;

  --tw-backdrop-sepia: ;

  --tw-contain-size: ;

  --tw-contain-layout: ;

  --tw-contain-paint: ;

  --tw-contain-style: ;

}
.cursor-pointer {
  cursor: pointer;

}
body.dark {
  --darkreader-bg--background: var(--darkreader-background-1b1f23, #16191c);

  --darkreader-text--background: var(--darkreader-text-1b1f23, #d4d1cb);

  --darkreader-border--background: var(--darkreader-border-1b1f23, #82796b);

  --darkreader-bg--background-color-1: var(--darkreader-background-2d3844, #242d36);

  --darkreader-bg--background-color-2: var(--darkreader-background-1b1f23, #16191c);

  --darkreader-border--background-color-2: var(--darkreader-border-1b1f23, #82796b);

  --darkreader-bg--background-color-3: var(--darkreader-background-1b1f23, #16191c);

  --darkreader-bg--background-color-4: var(--darkreader-background-1b1f23, #16191c);

  --darkreader-bg--background-color-5: var(--darkreader-background-4a5969, #3b4754);

  --darkreader-text--background-color-6: var(--darkreader-text-ffffff, #e8e6e3);

  --darkreader-bgimg--background-color-7: linear-gradient(270.19deg, var(--darkreader-background-004dd9, #003eae) 0.01%, var(--darkreader-background-1b1f23, #16191c));

  --darkreader-bg--background-color-8: var(--darkreader-background-2d3844, #242d36);

  --darkreader-bg--background-color-9: var(--darkreader-background-242d36, #1d242b);

  --darkreader-bg--background-color-10: var(--darkreader-background-2d3844, #242d36);

  --darkreader-bg--background-color-11: var(--darkreader-background-242d36, #1d242b);

  --darkreader-bg--background-color-12: var(--darkreader-background-1b1f23, #16191c);

  --darkreader-bg--background-color-13: var(--darkreader-background-bfdaff33, rgba(42, 46, 47, 0.2));

  --darkreader-bg--background-color-14: var(--darkreader-background-242d36, #1d242b);

  --darkreader-bg--background-color-15: var(--darkreader-background-242d36, #1d242b);

  --darkreader-bgimg--background-color-16: #4a5969;

  --darkreader-bg--background-color-17: var(--darkreader-background-2d3844, #242d36);

  --darkreader-bg--background-color-18: var(--darkreader-background-0066ff, #0052cc);

  --darkreader-border--background-color-18: var(--darkreader-border-0066ff, #0047b3);

  --darkreader-bg--background-color-19: var(--darkreader-background-ef4444, #9f0e0e);

  --darkreader-bg--background-color-20: var(--darkreader-background-edf3f9, #1f2123);

  --darkreader-border--background-color-20: var(--darkreader-border-edf3f9, #1b3752);

  --darkreader-bg--background-color-21: var(--darkreader-background-ffeec5, #402d00);

  --darkreader-border--background-color-22: var(--darkreader-border-f9f9f9, #323638);

  --darkreader-bg--background-color-23: var(--darkreader-background-2d3844, #242d36);

  --darkreader-bg--background-color-24: var(--darkreader-background-4a5969, #3b4754);

  --darkreader-bg--background-color-25: var(--darkreader-background-242d36, #1d242b);

  --darkreader-bg--background-color-26: var(--darkreader-background-2d3844, #242d36);

  --darkreader-bg--background-color-27: var(--darkreader-background-2d3844, #242d36);

  --darkreader-bg--background-color-28: var(--darkreader-background-0066ff, #0052cc);

  --darkreader-bg--box-shadow: none;

  --darkreader-bgimg--upheader-background: #1b1f23;

  --darkreader-bg--upheader-background-color-1: var(--darkreader-background-eff2f5b2, rgba(31, 34, 35, 0.7));

  --darkreader-text--text-color: var(--darkreader-text-ffffff, #e8e6e3);

  --darkreader-text--text-color-1: var(--darkreader-text-ffffff, #e8e6e3);

  --darkreader-text--text-color-2: var(--darkreader-text-0066ff, #339cff);

  --darkreader-text--text-color-3: var(--darkreader-text-ffffff, #e8e6e3);

  --darkreader-text--text-color-4: var(--darkreader-text-adb5bd, #b9b3aa);

  --darkreader-text--text-color-5: var(--darkreader-text-ffffff, #e8e6e3);

  --darkreader-text--text-color-6: var(--darkreader-text-2d3844, #c4bfb8);

  --darkreader-text--text-color-7: var(--darkreader-text-adb5bd, #b9b3aa);

  --darkreader-text--text-color-8: var(--darkreader-text-434852, #b9b3aa);

  --darkreader-text--text-color-9: var(--darkreader-text-7c8087, #999083);

}
body.dark {
  --background: #1b1f23;

  --background-color-1: #2d3844;

  --background-color-2: #1b1f23;

  --background-color-3: #1b1f23;

  --background-color-4: #1b1f23;

  --background-color-5: #4a5969;

  --background-color-6: #fff;

  --background-color-7: linear-gradient(270.19deg,#004dd9 0.01%,#1b1f23);

  --background-color-8: #2d3844;

  --background-color-9: #242d36;

  --background-color-10: #2d3844;

  --background-color-11: #242d36;

  --background-color-12: #1b1f23;

  --background-color-13: #bfdaff33;

  --background-color-14: #242d36;

  --background-color-15: #242d36;

  --background-color-16: #4a5969;

  --background-color-17: #2d3844;

  --background-color-18: #06f;

  --background-color-19: #ef4444;

  --background-color-20: #edf3f9;

  --background-color-21: #ffeec5;

  --background-color-22: #f9f9f9;

  --background-color-23: #2d3844;

  --background-color-24: #4a5969;

  --background-color-25: #242d36;

  --background-color-26: #2d3844;

  --background-color-27: #2d3844;

  --background-color-28: #06f;

  --box-shadow: none;

  --upheader-background: #1b1f23;

  --upheader-background-color-1: #eff2f5b2;

  --text-color: #fff;

  --text-color-1: #fff;

  --text-color-2: #06f;

  --text-color-3: #fff;

  --text-color-4: #adb5bd;

  --text-color-5: #fff;

  --text-color-6: #2d3844;

  --text-color-7: #adb5bd;

  --text-color-8: #434852;

  --text-color-9: #7c8087;

}
.dark, [data-theme="dark"] {
  color-scheme: dark;

  --darkreader-bg--nextui-background: 0 0% 0%;

  --nextui-foreground-50: 240 5.88% 10%;

  --nextui-foreground-100: 240 3.7% 15.88%;

  --darkreader-bg--nextui-foreground-200: 240 5.26% 26.08%;

  --darkreader-text--nextui-foreground-300: 240 5.2% 33.92%;

  --darkreader-text--nextui-foreground-400: 240 3.83% 46.08%;

  --darkreader-text--nextui-foreground-500: 240 5.03% 64.9%;

  --darkreader-text--nextui-foreground-600: 240 4.88% 83.92%;

  --nextui-foreground-700: 240 5.88% 90%;

  --nextui-foreground-800: 240 4.76% 95.88%;

  --nextui-foreground-900: 0 0% 98.04%;

  --darkreader-bg--nextui-foreground: 210 5.56% 92.94%;

  --darkreader-text--nextui-foreground: 210 5.56% 92.94%;

  --darkreader-border--nextui-foreground: 210 5.56% 92.94%;

  --darkreader-bg--nextui-focus: 212.01999999999998 100% 46.67%;

  --darkreader-border--nextui-focus: 212.01999999999998 100% 46.67%;

  --darkreader-bg--nextui-overlay: 0 0% 0%;

  --darkreader-bg--nextui-divider: 0 0% 100%;

  --darkreader-border--nextui-divider: 0 0% 100%;

  --darkreader-bg--nextui-divider-opacity: 0.15;

  --darkreader-border--nextui-divider-opacity: 0.15;

  --darkreader-bg--nextui-content1: 240 5.88% 10%;

  --nextui-content1-foreground: 0 0% 98.04%;

  --darkreader-bg--nextui-content2: 240 3.7% 15.88%;

  --nextui-content2-foreground: 240 4.76% 95.88%;

  --darkreader-bg--nextui-content3: 240 5.26% 26.08%;

  --nextui-content3-foreground: 240 5.88% 90%;

  --darkreader-bg--nextui-content4: 240 5.2% 33.92%;

  --darkreader-border--nextui-content4: 240 5.2% 33.92%;

  --nextui-content4-foreground: 240 4.88% 83.92%;

  --darkreader-bg--nextui-default-50: 240 5.88% 10%;

  --darkreader-bg--nextui-default-100: 240 3.7% 15.88%;

  --darkreader-bg--nextui-default-200: 240 5.26% 26.08%;

  --darkreader-border--nextui-default-200: 240 5.26% 26.08%;

  --darkreader-bg--nextui-default-300: 240 5.2% 33.92%;

  --darkreader-text--nextui-default-300: 240 5.2% 33.92%;

  --darkreader-border--nextui-default-300: 240 5.2% 33.92%;

  --darkreader-bg--nextui-default-400: 240 3.83% 46.08%;

  --darkreader-text--nextui-default-400: 240 3.83% 46.08%;

  --darkreader-border--nextui-default-400: 240 3.83% 46.08%;

  --darkreader-bg--nextui-default-500: 240 5.03% 64.9%;

  --darkreader-text--nextui-default-500: 240 5.03% 64.9%;

  --darkreader-border--nextui-default-500: 240 5.03% 64.9%;

  --darkreader-text--nextui-default-600: 240 4.88% 83.92%;

  --darkreader-bg--nextui-default-700: 240 5.88% 90%;

  --darkreader-text--nextui-default-700: 240 5.88% 90%;

  --darkreader-bg--nextui-default-800: 240 4.76% 95.88%;

  --nextui-default-900: 0 0% 98.04%;

  --darkreader-bg--nextui-default-foreground: 0 0% 100%;

  --darkreader-text--nextui-default-foreground: 0 0% 100%;

  --darkreader-border--nextui-default-foreground: 0 0% 100%;

  --darkreader-bg--nextui-default: 240 5.26% 26.08%;

  --darkreader-border--nextui-default: 240 5.26% 26.08%;

  --darkreader-bg--nextui-primary-50: 211.84000000000003 100% 9.61%;

  --darkreader-bg--nextui-primary-100: 211.84000000000003 100% 19.22%;

  --darkreader-border--nextui-primary-100: 211.84000000000003 100% 19.22%;

  --darkreader-bg--nextui-primary-200: 212.24 100% 28.82%;

  --darkreader-border--nextui-primary-200: 212.24 100% 28.82%;

  --darkreader-text--nextui-primary-300: 212.14 100% 38.43%;

  --darkreader-bg--nextui-primary-400: 212.01999999999998 100% 46.67%;

  --darkreader-text--nextui-primary-400: 212.01999999999998 100% 46.67%;

  --darkreader-text--nextui-primary-500: 212.14 92.45% 58.43%;

  --darkreader-text--nextui-primary-600: 212.24 92.45% 68.82%;

  --nextui-primary-700: 211.84000000000003 92.45% 79.22%;

  --nextui-primary-800: 211.84000000000003 92.45% 89.61%;

  --nextui-primary-900: 212.5 92.31% 94.9%;

  --darkreader-text--nextui-primary-foreground: 0 0% 100%;

  --darkreader-border--nextui-primary-foreground: 0 0% 100%;

  --nextui-primary: 212.01999999999998 100% 46.67%;

  --darkreader-bg--nextui-secondary-50: 270 66.67% 9.41%;

  --darkreader-bg--nextui-secondary-100: 270 66.67% 18.82%;

  --darkreader-border--nextui-secondary-100: 270 66.67% 18.82%;

  --darkreader-bg--nextui-secondary-200: 270 66.67% 28.24%;

  --darkreader-border--nextui-secondary-200: 270 66.67% 28.24%;

  --darkreader-text--nextui-secondary-300: 270 66.67% 37.65%;

  --darkreader-bg--nextui-secondary-400: 270 66.67% 47.06%;

  --darkreader-text--nextui-secondary-400: 270 66.67% 47.06%;

  --darkreader-text--nextui-secondary-500: 270 59.26% 57.65%;

  --darkreader-text--nextui-secondary-600: 270 59.26% 68.24%;

  --nextui-secondary-700: 270 59.26% 78.82%;

  --nextui-secondary-800: 270 59.26% 89.41%;

  --nextui-secondary-900: 270 61.54% 94.9%;

  --darkreader-text--nextui-secondary-foreground: 0 0% 100%;

  --darkreader-border--nextui-secondary-foreground: 0 0% 100%;

  --nextui-secondary: 270 59.26% 57.65%;

  --darkreader-bg--nextui-success-50: 145.71000000000004 77.78% 8.82%;

  --darkreader-bg--nextui-success-100: 146.2 79.78% 17.45%;

  --darkreader-border--nextui-success-100: 146.2 79.78% 17.45%;

  --darkreader-bg--nextui-success-200: 145.78999999999996 79.26% 26.47%;

  --darkreader-border--nextui-success-200: 145.78999999999996 79.26% 26.47%;

  --darkreader-border--nextui-success-300: 146.01 79.89% 35.1%;

  --darkreader-bg--nextui-success-400: 145.96000000000004 79.46% 43.92%;

  --darkreader-text--nextui-success-400: 145.96000000000004 79.46% 43.92%;

  --darkreader-text--nextui-success-500: 146.01 62.45% 55.1%;

  --darkreader-text--nextui-success-600: 145.78999999999996 62.57% 66.47%;

  --darkreader-text--nextui-success-700: 146.2 61.74% 77.45%;

  --nextui-success-800: 145.71000000000004 61.4% 88.82%;

  --nextui-success-900: 146.66999999999996 64.29% 94.51%;

  --darkreader-text--nextui-success-foreground: 0 0% 0%;

  --darkreader-border--nextui-success-foreground: 0 0% 0%;

  --darkreader-bg--nextui-success: 145.96000000000004 79.46% 43.92%;

  --darkreader-text--nextui-success: 145.96000000000004 79.46% 43.92%;

  --darkreader-border--nextui-success: 145.96000000000004 79.46% 43.92%;

  --darkreader-bg--nextui-warning-50: 37.139999999999986 75% 10.98%;

  --darkreader-bg--nextui-warning-100: 37.139999999999986 75% 21.96%;

  --darkreader-border--nextui-warning-100: 37.139999999999986 75% 21.96%;

  --darkreader-bg--nextui-warning-200: 36.95999999999998 73.96% 33.14%;

  --darkreader-border--nextui-warning-200: 36.95999999999998 73.96% 33.14%;

  --darkreader-border--nextui-warning-300: 37.00999999999999 74.22% 44.12%;

  --darkreader-bg--nextui-warning-400: 37.02999999999997 91.27% 55.1%;

  --darkreader-text--nextui-warning-400: 37.02999999999997 91.27% 55.1%;

  --darkreader-text--nextui-warning-500: 37.00999999999999 91.26% 64.12%;

  --darkreader-text--nextui-warning-600: 36.95999999999998 91.24% 73.14%;

  --darkreader-text--nextui-warning-700: 37.139999999999986 91.3% 81.96%;

  --nextui-warning-800: 37.139999999999986 91.3% 90.98%;

  --nextui-warning-900: 54.55000000000001 91.67% 95.29%;

  --darkreader-text--nextui-warning-foreground: 0 0% 0%;

  --darkreader-border--nextui-warning-foreground: 0 0% 0%;

  --darkreader-bg--nextui-warning: 37.02999999999997 91.27% 55.1%;

  --darkreader-text--nextui-warning: 37.02999999999997 91.27% 55.1%;

  --darkreader-border--nextui-warning: 37.02999999999997 91.27% 55.1%;

  --darkreader-bg--nextui-danger-50: 340 84.91% 10.39%;

  --darkreader-bg--nextui-danger-100: 339.3299999999999 86.54% 20.39%;

  --darkreader-border--nextui-danger-100: 339.3299999999999 86.54% 20.39%;

  --darkreader-bg--nextui-danger-200: 339.11 85.99% 30.78%;

  --darkreader-border--nextui-danger-200: 339.11 85.99% 30.78%;

  --darkreader-text--nextui-danger-300: 339 86.54% 40.78%;

  --darkreader-bg--nextui-danger-400: 339.20000000000005 90.36% 51.18%;

  --darkreader-border--nextui-danger-400: 339.20000000000005 90.36% 51.18%;

  --darkreader-text--nextui-danger-500: 339 90% 60.78%;

  --darkreader-text--nextui-danger-600: 339.11 90.6% 70.78%;

  --nextui-danger-700: 339.3299999999999 90% 80.39%;

  --nextui-danger-800: 340 91.84% 90.39%;

  --nextui-danger-900: 339.13 92% 95.1%;

  --darkreader-text--nextui-danger-foreground: 0 0% 100%;

  --darkreader-border--nextui-danger-foreground: 0 0% 100%;

  --darkreader-bg--nextui-danger: 339.20000000000005 90.36% 51.18%;

  --darkreader-text--nextui-danger: 339.20000000000005 90.36% 51.18%;

  --darkreader-border--nextui-danger: 339.20000000000005 90.36% 51.18%;

  --nextui-divider-weight: 1px;

  --nextui-disabled-opacity: .5;

  --nextui-font-size-tiny: 0.75rem;

  --nextui-font-size-small: 0.875rem;

  --nextui-font-size-medium: 1rem;

  --nextui-font-size-large: 1.125rem;

  --nextui-line-height-tiny: 1rem;

  --nextui-line-height-small: 1.25rem;

  --nextui-line-height-medium: 1.5rem;

  --nextui-line-height-large: 1.75rem;

  --darkreader-border--nextui-radius-small: 8px;

  --darkreader-border--nextui-radius-medium: 12px;

  --darkreader-border--nextui-radius-large: 14px;

  --nextui-border-width-small: 1px;

  --darkreader-border--nextui-border-width-medium: 2px;

  --nextui-border-width-large: 3px;

  --darkreader-bg--nextui-box-shadow-small: 0px 0px 5px 0px rgba(0,0,0,.05),0px 2px 10px 0px rgba(0,0,0,.2),inset 0px 0px 1px 0px hsla(0,0%,100%,.15);

  --darkreader-bg--nextui-box-shadow-medium: 0px 0px 15px 0px rgba(0,0,0,.06),0px 2px 30px 0px rgba(0,0,0,.22),inset 0px 0px 1px 0px hsla(0,0%,100%,.15);

  --darkreader-bg--nextui-box-shadow-large: 0px 0px 30px 0px rgba(0,0,0,.07),0px 30px 60px 0px rgba(0,0,0,.26),inset 0px 0px 1px 0px hsla(0,0%,100%,.15);

  --nextui-hover-opacity: .9;

}
:root, [data-theme] {
  color: var(--darkreader-text-ecedee, #dddad5);

}
.dark, [data-theme="dark"] {
  color-scheme: dark;

  --nextui-background: 0 0% 0%;

  --nextui-foreground-50: 240 5.88% 10%;

  --nextui-foreground-100: 240 3.7% 15.88%;

  --nextui-foreground-200: 240 5.26% 26.08%;

  --nextui-foreground-300: 240 5.2% 33.92%;

  --nextui-foreground-400: 240 3.83% 46.08%;

  --nextui-foreground-500: 240 5.03% 64.9%;

  --nextui-foreground-600: 240 4.88% 83.92%;

  --nextui-foreground-700: 240 5.88% 90%;

  --nextui-foreground-800: 240 4.76% 95.88%;

  --nextui-foreground-900: 0 0% 98.04%;

  --nextui-foreground: 210 5.56% 92.94%;

  --nextui-focus: 212.01999999999998 100% 46.67%;

  --nextui-overlay: 0 0% 0%;

  --nextui-divider: 0 0% 100%;

  --nextui-divider-opacity: 0.15;

  --nextui-content1: 240 5.88% 10%;

  --nextui-content1-foreground: 0 0% 98.04%;

  --nextui-content2: 240 3.7% 15.88%;

  --nextui-content2-foreground: 240 4.76% 95.88%;

  --nextui-content3: 240 5.26% 26.08%;

  --nextui-content3-foreground: 240 5.88% 90%;

  --nextui-content4: 240 5.2% 33.92%;

  --nextui-content4-foreground: 240 4.88% 83.92%;

  --nextui-default-50: 240 5.88% 10%;

  --nextui-default-100: 240 3.7% 15.88%;

  --nextui-default-200: 240 5.26% 26.08%;

  --nextui-default-300: 240 5.2% 33.92%;

  --nextui-default-400: 240 3.83% 46.08%;

  --nextui-default-500: 240 5.03% 64.9%;

  --nextui-default-600: 240 4.88% 83.92%;

  --nextui-default-700: 240 5.88% 90%;

  --nextui-default-800: 240 4.76% 95.88%;

  --nextui-default-900: 0 0% 98.04%;

  --nextui-default-foreground: 0 0% 100%;

  --nextui-default: 240 5.26% 26.08%;

  --nextui-primary-50: 211.84000000000003 100% 9.61%;

  --nextui-primary-100: 211.84000000000003 100% 19.22%;

  --nextui-primary-200: 212.24 100% 28.82%;

  --nextui-primary-300: 212.14 100% 38.43%;

  --nextui-primary-400: 212.01999999999998 100% 46.67%;

  --nextui-primary-500: 212.14 92.45% 58.43%;

  --nextui-primary-600: 212.24 92.45% 68.82%;

  --nextui-primary-700: 211.84000000000003 92.45% 79.22%;

  --nextui-primary-800: 211.84000000000003 92.45% 89.61%;

  --nextui-primary-900: 212.5 92.31% 94.9%;

  --nextui-primary-foreground: 0 0% 100%;

  --nextui-primary: 212.01999999999998 100% 46.67%;

  --nextui-secondary-50: 270 66.67% 9.41%;

  --nextui-secondary-100: 270 66.67% 18.82%;

  --nextui-secondary-200: 270 66.67% 28.24%;

  --nextui-secondary-300: 270 66.67% 37.65%;

  --nextui-secondary-400: 270 66.67% 47.06%;

  --nextui-secondary-500: 270 59.26% 57.65%;

  --nextui-secondary-600: 270 59.26% 68.24%;

  --nextui-secondary-700: 270 59.26% 78.82%;

  --nextui-secondary-800: 270 59.26% 89.41%;

  --nextui-secondary-900: 270 61.54% 94.9%;

  --nextui-secondary-foreground: 0 0% 100%;

  --nextui-secondary: 270 59.26% 57.65%;

  --nextui-success-50: 145.71000000000004 77.78% 8.82%;

  --nextui-success-100: 146.2 79.78% 17.45%;

  --nextui-success-200: 145.78999999999996 79.26% 26.47%;

  --nextui-success-300: 146.01 79.89% 35.1%;

  --nextui-success-400: 145.96000000000004 79.46% 43.92%;

  --nextui-success-500: 146.01 62.45% 55.1%;

  --nextui-success-600: 145.78999999999996 62.57% 66.47%;

  --nextui-success-700: 146.2 61.74% 77.45%;

  --nextui-success-800: 145.71000000000004 61.4% 88.82%;

  --nextui-success-900: 146.66999999999996 64.29% 94.51%;

  --nextui-success-foreground: 0 0% 0%;

  --nextui-success: 145.96000000000004 79.46% 43.92%;

  --nextui-warning-50: 37.139999999999986 75% 10.98%;

  --nextui-warning-100: 37.139999999999986 75% 21.96%;

  --nextui-warning-200: 36.95999999999998 73.96% 33.14%;

  --nextui-warning-300: 37.00999999999999 74.22% 44.12%;

  --nextui-warning-400: 37.02999999999997 91.27% 55.1%;

  --nextui-warning-500: 37.00999999999999 91.26% 64.12%;

  --nextui-warning-600: 36.95999999999998 91.24% 73.14%;

  --nextui-warning-700: 37.139999999999986 91.3% 81.96%;

  --nextui-warning-800: 37.139999999999986 91.3% 90.98%;

  --nextui-warning-900: 54.55000000000001 91.67% 95.29%;

  --nextui-warning-foreground: 0 0% 0%;

  --nextui-warning: 37.02999999999997 91.27% 55.1%;

  --nextui-danger-50: 340 84.91% 10.39%;

  --nextui-danger-100: 339.3299999999999 86.54% 20.39%;

  --nextui-danger-200: 339.11 85.99% 30.78%;

  --nextui-danger-300: 339 86.54% 40.78%;

  --nextui-danger-400: 339.20000000000005 90.36% 51.18%;

  --nextui-danger-500: 339 90% 60.78%;

  --nextui-danger-600: 339.11 90.6% 70.78%;

  --nextui-danger-700: 339.3299999999999 90% 80.39%;

  --nextui-danger-800: 340 91.84% 90.39%;

  --nextui-danger-900: 339.13 92% 95.1%;

  --nextui-danger-foreground: 0 0% 100%;

  --nextui-danger: 339.20000000000005 90.36% 51.18%;

  --nextui-divider-weight: 1px;

  --nextui-disabled-opacity: .5;

  --nextui-font-size-tiny: 0.75rem;

  --nextui-font-size-small: 0.875rem;

  --nextui-font-size-medium: 1rem;

  --nextui-font-size-large: 1.125rem;

  --nextui-line-height-tiny: 1rem;

  --nextui-line-height-small: 1.25rem;

  --nextui-line-height-medium: 1.5rem;

  --nextui-line-height-large: 1.75rem;

  --nextui-radius-small: 8px;

  --nextui-radius-medium: 12px;

  --nextui-radius-large: 14px;

  --nextui-border-width-small: 1px;

  --nextui-border-width-medium: 2px;

  --nextui-border-width-large: 3px;

  --nextui-box-shadow-small: 0px 0px 5px 0px rgba(0,0,0,.05),0px 2px 10px 0px rgba(0,0,0,.2),inset 0px 0px 1px 0px hsla(0,0%,100%,.15);

  --nextui-box-shadow-medium: 0px 0px 15px 0px rgba(0,0,0,.06),0px 2px 30px 0px rgba(0,0,0,.22),inset 0px 0px 1px 0px hsla(0,0%,100%,.15);

  --nextui-box-shadow-large: 0px 0px 30px 0px rgba(0,0,0,.07),0px 30px 60px 0px rgba(0,0,0,.26),inset 0px 0px 1px 0px hsla(0,0%,100%,.15);

  --nextui-hover-opacity: .9;

}
:root, [data-theme] {
  color: hsl(var(--nextui-foreground));

}
body {
  color: var(--darkreader-text--text-color, var(--darkreader-text-000000, #e8e6e3));

}
body {
  color: var(--text-color);

}
body {
  line-height: inherit;

}
@layer {
  html, body {
    color: var(--darkreader-text-000000, #e8e6e3);

  }
}
element {
  color-scheme: dark;

}
:root {
  --font-size-title: 24px;

  --font-size-italic-10: 10px;

  --font-size-italic-12: 12px;

  --font-size-regular-9: 9px;

  --font-size-regular-10: 10px;

  --font-size-regular-11: 11px;

  --font-size-regular-12: 12px;

  --font-size-regular-13: 13px;

  --font-size-regular-14: 14px;

  --font-size-regular-15: 15px;

  --font-size-regular-16: 16px;

  --font-size-regular-18: 18px;

  --font-size-regular-20: 20px;

  --font-size-regular-36: 36px;

  --font-size-semi-bold-11: 11px;

  --font-size-semi-bold-12: 12px;

  --font-size-semi-bold-14: 14px;

  --font-size-semi-bold-16: 16px;

  --font-size-semi-bold-17: 17px;

  --font-size-semi-bold-18: 18px;

  --font-size-semi-bold-24: 24px;

  --font-size-semi-bold-32: 32px;

  --font-size-bold-10: 10px;

  --font-size-bold-12: 12px;

  --font-size-bold-13: 13px;

  --font-size-bold-14: 14px;

  --font-size-bold-15: 15px;

  --font-size-bold-16: 16px;

  --font-size-bold-17: 17px;

  --font-size-bold-18: 18px;

  --font-size-bold-20: 20px;

  --font-size-bold-22: 22px;

  --font-size-bold-24: 24px;

  --font-size-bold-25: 25px;

  --font-size-bold-26: 26px;

  --font-size-bold-28: 28px;

  --font-size-bold-30: 30px;

  --font-size-bold-32: 32px;

  --font-size-bold-36: 36px;

  --font-size-bold-46: 46px;

  --font-size-bold-60: 60px;

}
.light, :root, [data-theme="light"] {
  color-scheme: dark;

  --darkreader-bg--nextui-background: 0 0% 100%;

  --nextui-foreground-50: 0 0% 98.04%;

  --nextui-foreground-100: 240 4.76% 95.88%;

  --darkreader-bg--nextui-foreground-200: 240 5.88% 90%;

  --darkreader-text--nextui-foreground-300: 240 4.88% 83.92%;

  --darkreader-text--nextui-foreground-400: 240 5.03% 64.9%;

  --darkreader-text--nextui-foreground-500: 240 3.83% 46.08%;

  --darkreader-text--nextui-foreground-600: 240 5.2% 33.92%;

  --nextui-foreground-700: 240 5.26% 26.08%;

  --nextui-foreground-800: 240 3.7% 15.88%;

  --nextui-foreground-900: 240 5.88% 10%;

  --darkreader-bg--nextui-foreground: 201.81999999999994 24.44% 8.82%;

  --darkreader-text--nextui-foreground: 201.81999999999994 24.44% 8.82%;

  --darkreader-border--nextui-foreground: 201.81999999999994 24.44% 8.82%;

  --darkreader-bg--nextui-divider: 0 0% 6.67%;

  --darkreader-border--nextui-divider: 0 0% 6.67%;

  --darkreader-bg--nextui-divider-opacity: 0.15;

  --darkreader-border--nextui-divider-opacity: 0.15;

  --darkreader-bg--nextui-focus: 212.01999999999998 100% 46.67%;

  --darkreader-border--nextui-focus: 212.01999999999998 100% 46.67%;

  --darkreader-bg--nextui-overlay: 0 0% 0%;

  --darkreader-bg--nextui-content1: 0 0% 100%;

  --nextui-content1-foreground: 201.81999999999994 24.44% 8.82%;

  --darkreader-bg--nextui-content2: 240 4.76% 95.88%;

  --nextui-content2-foreground: 240 3.7% 15.88%;

  --darkreader-bg--nextui-content3: 240 5.88% 90%;

  --nextui-content3-foreground: 240 5.26% 26.08%;

  --darkreader-bg--nextui-content4: 240 4.88% 83.92%;

  --darkreader-border--nextui-content4: 240 4.88% 83.92%;

  --nextui-content4-foreground: 240 5.2% 33.92%;

  --darkreader-bg--nextui-default-50: 0 0% 98.04%;

  --darkreader-bg--nextui-default-100: 240 4.76% 95.88%;

  --darkreader-bg--nextui-default-200: 240 5.88% 90%;

  --darkreader-border--nextui-default-200: 240 5.88% 90%;

  --darkreader-bg--nextui-default-300: 240 4.88% 83.92%;

  --darkreader-text--nextui-default-300: 240 4.88% 83.92%;

  --darkreader-border--nextui-default-300: 240 4.88% 83.92%;

  --darkreader-bg--nextui-default-400: 240 5.03% 64.9%;

  --darkreader-text--nextui-default-400: 240 5.03% 64.9%;

  --darkreader-border--nextui-default-400: 240 5.03% 64.9%;

  --darkreader-bg--nextui-default-500: 240 3.83% 46.08%;

  --darkreader-text--nextui-default-500: 240 3.83% 46.08%;

  --darkreader-border--nextui-default-500: 240 3.83% 46.08%;

  --darkreader-text--nextui-default-600: 240 5.2% 33.92%;

  --darkreader-bg--nextui-default-700: 240 5.26% 26.08%;

  --darkreader-text--nextui-default-700: 240 5.26% 26.08%;

  --darkreader-bg--nextui-default-800: 240 3.7% 15.88%;

  --nextui-default-900: 240 5.88% 10%;

  --darkreader-bg--nextui-default-foreground: 0 0% 0%;

  --darkreader-text--nextui-default-foreground: 0 0% 0%;

  --darkreader-border--nextui-default-foreground: 0 0% 0%;

  --darkreader-bg--nextui-default: 240 4.88% 83.92%;

  --darkreader-border--nextui-default: 240 4.88% 83.92%;

  --darkreader-bg--nextui-primary-50: 212.5 92.31% 94.9%;

  --darkreader-bg--nextui-primary-100: 211.84000000000003 92.45% 89.61%;

  --darkreader-border--nextui-primary-100: 211.84000000000003 92.45% 89.61%;

  --darkreader-bg--nextui-primary-200: 211.84000000000003 92.45% 79.22%;

  --darkreader-border--nextui-primary-200: 211.84000000000003 92.45% 79.22%;

  --darkreader-text--nextui-primary-300: 212.24 92.45% 68.82%;

  --darkreader-bg--nextui-primary-400: 212.14 92.45% 58.43%;

  --darkreader-text--nextui-primary-400: 212.14 92.45% 58.43%;

  --darkreader-text--nextui-primary-500: 212.01999999999998 100% 46.67%;

  --darkreader-text--nextui-primary-600: 212.14 100% 38.43%;

  --nextui-primary-700: 212.24 100% 28.82%;

  --nextui-primary-800: 211.84000000000003 100% 19.22%;

  --nextui-primary-900: 211.84000000000003 100% 9.61%;

  --darkreader-text--nextui-primary-foreground: 0 0% 100%;

  --darkreader-border--nextui-primary-foreground: 0 0% 100%;

  --nextui-primary: 212.01999999999998 100% 46.67%;

  --darkreader-bg--nextui-secondary-50: 270 61.54% 94.9%;

  --darkreader-bg--nextui-secondary-100: 270 59.26% 89.41%;

  --darkreader-border--nextui-secondary-100: 270 59.26% 89.41%;

  --darkreader-bg--nextui-secondary-200: 270 59.26% 78.82%;

  --darkreader-border--nextui-secondary-200: 270 59.26% 78.82%;

  --darkreader-text--nextui-secondary-300: 270 59.26% 68.24%;

  --darkreader-bg--nextui-secondary-400: 270 59.26% 57.65%;

  --darkreader-text--nextui-secondary-400: 270 59.26% 57.65%;

  --darkreader-text--nextui-secondary-500: 270 66.67% 47.06%;

  --darkreader-text--nextui-secondary-600: 270 66.67% 37.65%;

  --nextui-secondary-700: 270 66.67% 28.24%;

  --nextui-secondary-800: 270 66.67% 18.82%;

  --nextui-secondary-900: 270 66.67% 9.41%;

  --darkreader-text--nextui-secondary-foreground: 0 0% 100%;

  --darkreader-border--nextui-secondary-foreground: 0 0% 100%;

  --nextui-secondary: 270 66.67% 47.06%;

  --darkreader-bg--nextui-success-50: 146.66999999999996 64.29% 94.51%;

  --darkreader-bg--nextui-success-100: 145.71000000000004 61.4% 88.82%;

  --darkreader-border--nextui-success-100: 145.71000000000004 61.4% 88.82%;

  --darkreader-bg--nextui-success-200: 146.2 61.74% 77.45%;

  --darkreader-border--nextui-success-200: 146.2 61.74% 77.45%;

  --darkreader-border--nextui-success-300: 145.78999999999996 62.57% 66.47%;

  --darkreader-bg--nextui-success-400: 146.01 62.45% 55.1%;

  --darkreader-text--nextui-success-400: 146.01 62.45% 55.1%;

  --darkreader-text--nextui-success-500: 145.96000000000004 79.46% 43.92%;

  --darkreader-text--nextui-success-600: 146.01 79.89% 35.1%;

  --darkreader-text--nextui-success-700: 145.78999999999996 79.26% 26.47%;

  --nextui-success-800: 146.2 79.78% 17.45%;

  --nextui-success-900: 145.71000000000004 77.78% 8.82%;

  --darkreader-text--nextui-success-foreground: 0 0% 0%;

  --darkreader-border--nextui-success-foreground: 0 0% 0%;

  --darkreader-bg--nextui-success: 145.96000000000004 79.46% 43.92%;

  --darkreader-text--nextui-success: 145.96000000000004 79.46% 43.92%;

  --darkreader-border--nextui-success: 145.96000000000004 79.46% 43.92%;

  --darkreader-bg--nextui-warning-50: 54.55000000000001 91.67% 95.29%;

  --darkreader-bg--nextui-warning-100: 37.139999999999986 91.3% 90.98%;

  --darkreader-border--nextui-warning-100: 37.139999999999986 91.3% 90.98%;

  --darkreader-bg--nextui-warning-200: 37.139999999999986 91.3% 81.96%;

  --darkreader-border--nextui-warning-200: 37.139999999999986 91.3% 81.96%;

  --darkreader-border--nextui-warning-300: 36.95999999999998 91.24% 73.14%;

  --darkreader-bg--nextui-warning-400: 37.00999999999999 91.26% 64.12%;

  --darkreader-text--nextui-warning-400: 37.00999999999999 91.26% 64.12%;

  --darkreader-text--nextui-warning-500: 37.02999999999997 91.27% 55.1%;

  --darkreader-text--nextui-warning-600: 37.00999999999999 74.22% 44.12%;

  --darkreader-text--nextui-warning-700: 36.95999999999998 73.96% 33.14%;

  --nextui-warning-800: 37.139999999999986 75% 21.96%;

  --nextui-warning-900: 37.139999999999986 75% 10.98%;

  --darkreader-text--nextui-warning-foreground: 0 0% 0%;

  --darkreader-border--nextui-warning-foreground: 0 0% 0%;

  --darkreader-bg--nextui-warning: 37.02999999999997 91.27% 55.1%;

  --darkreader-text--nextui-warning: 37.02999999999997 91.27% 55.1%;

  --darkreader-border--nextui-warning: 37.02999999999997 91.27% 55.1%;

  --darkreader-bg--nextui-danger-50: 339.13 92% 95.1%;

  --darkreader-bg--nextui-danger-100: 340 91.84% 90.39%;

  --darkreader-border--nextui-danger-100: 340 91.84% 90.39%;

  --darkreader-bg--nextui-danger-200: 339.3299999999999 90% 80.39%;

  --darkreader-border--nextui-danger-200: 339.3299999999999 90% 80.39%;

  --darkreader-text--nextui-danger-300: 339.11 90.6% 70.78%;

  --darkreader-bg--nextui-danger-400: 339 90% 60.78%;

  --darkreader-border--nextui-danger-400: 339 90% 60.78%;

  --darkreader-text--nextui-danger-500: 339.20000000000005 90.36% 51.18%;

  --darkreader-text--nextui-danger-600: 339 86.54% 40.78%;

  --nextui-danger-700: 339.11 85.99% 30.78%;

  --nextui-danger-800: 339.3299999999999 86.54% 20.39%;

  --nextui-danger-900: 340 84.91% 10.39%;

  --darkreader-text--nextui-danger-foreground: 0 0% 100%;

  --darkreader-border--nextui-danger-foreground: 0 0% 100%;

  --darkreader-bg--nextui-danger: 339.20000000000005 90.36% 51.18%;

  --darkreader-text--nextui-danger: 339.20000000000005 90.36% 51.18%;

  --darkreader-border--nextui-danger: 339.20000000000005 90.36% 51.18%;

  --nextui-divider-weight: 1px;

  --nextui-disabled-opacity: .5;

  --nextui-font-size-tiny: 0.75rem;

  --nextui-font-size-small: 0.875rem;

  --nextui-font-size-medium: 1rem;

  --nextui-font-size-large: 1.125rem;

  --nextui-line-height-tiny: 1rem;

  --nextui-line-height-small: 1.25rem;

  --nextui-line-height-medium: 1.5rem;

  --nextui-line-height-large: 1.75rem;

  --darkreader-border--nextui-radius-small: 8px;

  --darkreader-border--nextui-radius-medium: 12px;

  --darkreader-border--nextui-radius-large: 14px;

  --nextui-border-width-small: 1px;

  --darkreader-border--nextui-border-width-medium: 2px;

  --nextui-border-width-large: 3px;

  --darkreader-bg--nextui-box-shadow-small: 0px 0px 5px 0px rgba(0,0,0,.02),0px 2px 10px 0px rgba(0,0,0,.06),0px 0px 1px 0px rgba(0,0,0,.3);

  --darkreader-bg--nextui-box-shadow-medium: 0px 0px 15px 0px rgba(0,0,0,.03),0px 2px 30px 0px rgba(0,0,0,.08),0px 0px 1px 0px rgba(0,0,0,.3);

  --darkreader-bg--nextui-box-shadow-large: 0px 0px 30px 0px rgba(0,0,0,.04),0px 30px 60px 0px rgba(0,0,0,.12),0px 0px 1px 0px rgba(0,0,0,.3);

  --nextui-hover-opacity: .8;

}
:root {
  --font-size-title: 24px;

  --font-size-italic-10: 10px;

  --font-size-italic-12: 12px;

  --font-size-regular-9: 9px;

  --font-size-regular-10: 10px;

  --font-size-regular-11: 11px;

  --font-size-regular-12: 12px;

  --font-size-regular-13: 13px;

  --font-size-regular-14: 14px;

  --font-size-regular-15: 15px;

  --font-size-regular-16: 16px;

  --font-size-regular-18: 18px;

  --font-size-regular-20: 20px;

  --font-size-regular-36: 36px;

  --font-size-semi-bold-11: 11px;

  --font-size-semi-bold-12: 12px;

  --font-size-semi-bold-14: 14px;

  --font-size-semi-bold-16: 16px;

  --font-size-semi-bold-17: 17px;

  --font-size-semi-bold-18: 18px;

  --font-size-semi-bold-24: 24px;

  --font-size-semi-bold-32: 32px;

  --font-size-bold-10: 10px;

  --font-size-bold-12: 12px;

  --font-size-bold-13: 13px;

  --font-size-bold-14: 14px;

  --font-size-bold-15: 15px;

  --font-size-bold-16: 16px;

  --font-size-bold-17: 17px;

  --font-size-bold-18: 18px;

  --font-size-bold-20: 20px;

  --font-size-bold-22: 22px;

  --font-size-bold-24: 24px;

  --font-size-bold-25: 25px;

  --font-size-bold-26: 26px;

  --font-size-bold-28: 28px;

  --font-size-bold-30: 30px;

  --font-size-bold-32: 32px;

  --font-size-bold-36: 36px;

  --font-size-bold-46: 46px;

  --font-size-bold-60: 60px;

}
.light, :root, [data-theme="light"] {
  color-scheme: light;

  --nextui-background: 0 0% 100%;

  --nextui-foreground-50: 0 0% 98.04%;

  --nextui-foreground-100: 240 4.76% 95.88%;

  --nextui-foreground-200: 240 5.88% 90%;

  --nextui-foreground-300: 240 4.88% 83.92%;

  --nextui-foreground-400: 240 5.03% 64.9%;

  --nextui-foreground-500: 240 3.83% 46.08%;

  --nextui-foreground-600: 240 5.2% 33.92%;

  --nextui-foreground-700: 240 5.26% 26.08%;

  --nextui-foreground-800: 240 3.7% 15.88%;

  --nextui-foreground-900: 240 5.88% 10%;

  --nextui-foreground: 201.81999999999994 24.44% 8.82%;

  --nextui-divider: 0 0% 6.67%;

  --nextui-divider-opacity: 0.15;

  --nextui-focus: 212.01999999999998 100% 46.67%;

  --nextui-overlay: 0 0% 0%;

  --nextui-content1: 0 0% 100%;

  --nextui-content1-foreground: 201.81999999999994 24.44% 8.82%;

  --nextui-content2: 240 4.76% 95.88%;

  --nextui-content2-foreground: 240 3.7% 15.88%;

  --nextui-content3: 240 5.88% 90%;

  --nextui-content3-foreground: 240 5.26% 26.08%;

  --nextui-content4: 240 4.88% 83.92%;

  --nextui-content4-foreground: 240 5.2% 33.92%;

  --nextui-default-50: 0 0% 98.04%;

  --nextui-default-100: 240 4.76% 95.88%;

  --nextui-default-200: 240 5.88% 90%;

  --nextui-default-300: 240 4.88% 83.92%;

  --nextui-default-400: 240 5.03% 64.9%;

  --nextui-default-500: 240 3.83% 46.08%;

  --nextui-default-600: 240 5.2% 33.92%;

  --nextui-default-700: 240 5.26% 26.08%;

  --nextui-default-800: 240 3.7% 15.88%;

  --nextui-default-900: 240 5.88% 10%;

  --nextui-default-foreground: 0 0% 0%;

  --nextui-default: 240 4.88% 83.92%;

  --nextui-primary-50: 212.5 92.31% 94.9%;

  --nextui-primary-100: 211.84000000000003 92.45% 89.61%;

  --nextui-primary-200: 211.84000000000003 92.45% 79.22%;

  --nextui-primary-300: 212.24 92.45% 68.82%;

  --nextui-primary-400: 212.14 92.45% 58.43%;

  --nextui-primary-500: 212.01999999999998 100% 46.67%;

  --nextui-primary-600: 212.14 100% 38.43%;

  --nextui-primary-700: 212.24 100% 28.82%;

  --nextui-primary-800: 211.84000000000003 100% 19.22%;

  --nextui-primary-900: 211.84000000000003 100% 9.61%;

  --nextui-primary-foreground: 0 0% 100%;

  --nextui-primary: 212.01999999999998 100% 46.67%;

  --nextui-secondary-50: 270 61.54% 94.9%;

  --nextui-secondary-100: 270 59.26% 89.41%;

  --nextui-secondary-200: 270 59.26% 78.82%;

  --nextui-secondary-300: 270 59.26% 68.24%;

  --nextui-secondary-400: 270 59.26% 57.65%;

  --nextui-secondary-500: 270 66.67% 47.06%;

  --nextui-secondary-600: 270 66.67% 37.65%;

  --nextui-secondary-700: 270 66.67% 28.24%;

  --nextui-secondary-800: 270 66.67% 18.82%;

  --nextui-secondary-900: 270 66.67% 9.41%;

  --nextui-secondary-foreground: 0 0% 100%;

  --nextui-secondary: 270 66.67% 47.06%;

  --nextui-success-50: 146.66999999999996 64.29% 94.51%;

  --nextui-success-100: 145.71000000000004 61.4% 88.82%;

  --nextui-success-200: 146.2 61.74% 77.45%;

  --nextui-success-300: 145.78999999999996 62.57% 66.47%;

  --nextui-success-400: 146.01 62.45% 55.1%;

  --nextui-success-500: 145.96000000000004 79.46% 43.92%;

  --nextui-success-600: 146.01 79.89% 35.1%;

  --nextui-success-700: 145.78999999999996 79.26% 26.47%;

  --nextui-success-800: 146.2 79.78% 17.45%;

  --nextui-success-900: 145.71000000000004 77.78% 8.82%;

  --nextui-success-foreground: 0 0% 0%;

  --nextui-success: 145.96000000000004 79.46% 43.92%;

  --nextui-warning-50: 54.55000000000001 91.67% 95.29%;

  --nextui-warning-100: 37.139999999999986 91.3% 90.98%;

  --nextui-warning-200: 37.139999999999986 91.3% 81.96%;

  --nextui-warning-300: 36.95999999999998 91.24% 73.14%;

  --nextui-warning-400: 37.00999999999999 91.26% 64.12%;

  --nextui-warning-500: 37.02999999999997 91.27% 55.1%;

  --nextui-warning-600: 37.00999999999999 74.22% 44.12%;

  --nextui-warning-700: 36.95999999999998 73.96% 33.14%;

  --nextui-warning-800: 37.139999999999986 75% 21.96%;

  --nextui-warning-900: 37.139999999999986 75% 10.98%;

  --nextui-warning-foreground: 0 0% 0%;

  --nextui-warning: 37.02999999999997 91.27% 55.1%;

  --nextui-danger-50: 339.13 92% 95.1%;

  --nextui-danger-100: 340 91.84% 90.39%;

  --nextui-danger-200: 339.3299999999999 90% 80.39%;

  --nextui-danger-300: 339.11 90.6% 70.78%;

  --nextui-danger-400: 339 90% 60.78%;

  --nextui-danger-500: 339.20000000000005 90.36% 51.18%;

  --nextui-danger-600: 339 86.54% 40.78%;

  --nextui-danger-700: 339.11 85.99% 30.78%;

  --nextui-danger-800: 339.3299999999999 86.54% 20.39%;

  --nextui-danger-900: 340 84.91% 10.39%;

  --nextui-danger-foreground: 0 0% 100%;

  --nextui-danger: 339.20000000000005 90.36% 51.18%;

  --nextui-divider-weight: 1px;

  --nextui-disabled-opacity: .5;

  --nextui-font-size-tiny: 0.75rem;

  --nextui-font-size-small: 0.875rem;

  --nextui-font-size-medium: 1rem;

  --nextui-font-size-large: 1.125rem;

  --nextui-line-height-tiny: 1rem;

  --nextui-line-height-small: 1.25rem;

  --nextui-line-height-medium: 1.5rem;

  --nextui-line-height-large: 1.75rem;

  --nextui-radius-small: 8px;

  --nextui-radius-medium: 12px;

  --nextui-radius-large: 14px;

  --nextui-border-width-small: 1px;

  --nextui-border-width-medium: 2px;

  --nextui-border-width-large: 3px;

  --nextui-box-shadow-small: 0px 0px 5px 0px rgba(0,0,0,.02),0px 2px 10px 0px rgba(0,0,0,.06),0px 0px 1px 0px rgba(0,0,0,.3);

  --nextui-box-shadow-medium: 0px 0px 15px 0px rgba(0,0,0,.03),0px 2px 30px 0px rgba(0,0,0,.08),0px 0px 1px 0px rgba(0,0,0,.3);

  --nextui-box-shadow-large: 0px 0px 30px 0px rgba(0,0,0,.04),0px 30px 60px 0px rgba(0,0,0,.12),0px 0px 1px 0px rgba(0,0,0,.3);

  --nextui-hover-opacity: .8;

}
.font-sans {
  font-family: var(--font-golos-text),sans-serif;

}
:root {
  --swiper-navigation-size: 44px;

}
:root {
  --darkreader-text--swiper-theme-color: var(--darkreader-text-007aff, #33a2ff);

}
.__variable_af4c63 {
  --font-golos-text: "__Golos_Text_af4c63","__Golos_Text_Fallback_af4c63";

}
:root {
  --swiper-navigation-size: 44px;

}
:root {
  --swiper-theme-color: #007aff;

}
.__variable_af4c63 {
  --font-golos-text: "__Golos_Text_af4c63","__Golos_Text_Fallback_af4c63";

}
:root {
  --darkreader-neutral-background: var(--darkreader-background-ffffff, #181a1b);

  --darkreader-neutral-text: var(--darkreader-text-000000, #e8e6e3);

  --darkreader-selection-background: var(--darkreader-background-0060d4, #004daa);

  --darkreader-selection-text: var(--darkreader-text-ffffff, #e8e6e3);

  --darkreader-background-ffffff: #181a1b;

  --darkreader-text-ffffff: #e8e6e3;

  --darkreader-border-404040: #776e62;

  --darkreader-text-000000: #e8e6e3;

  --darkreader-border-4c4c4c: #736b5e;

  --darkreader-text-0040ff: #3391ff;

  --darkreader-border-808080: #545b5e;

  --darkreader-text-a9a9a9: #b2aba1;

  --darkreader-background-faffbd: #404400;

  --darkreader-background-0060d4: #004daa;

  --darkreader-background-ffd76e: #684b00;

  --darkreader-background-c59d00: #9e7e00;

  --darkreader-text-302505: #d7d4cf;

  --darkreader-background-add8e6: #1b4958;

  --darkreader-background-cfecf5: #0f3a47;

  --darkreader-background-f5f5f5: #1e2021;

  --darkreader-background-faedda: #432c09;

  --darkreader-background-85c3d8: #245d70;

  --darkreader-text-007aff: #33a2ff;

  --darkreader-background-00000026: rgba(0, 0, 0, 0.15);

  --darkreader-background-00000080: rgba(0, 0, 0, 0.5);

  --darkreader-background-00000000: rgba(0, 0, 0, 0);

  --darkreader-background-3b82f680: rgba(8, 68, 166, 0.5);

  --darkreader-border-e5e7eb: #363b3d;

  --darkreader-text-9ca3af: #afa99e;

  --darkreader-text-ecedee: #dddad5;

  --darkreader-background-000000: #000000;

  --darkreader-border-f31261: #a80941;

  --darkreader-border-606060: #6c6559;

  --darkreader-border-d2e1ef: #203d59;

  --darkreader-border-d2e2ef: #203f59;

  --darkreader-border-edf4f9: #1b3b52;

  --darkreader-border-f0f6ff: #002b6b;

  --darkreader-border-3b82f6: #07409c;

  --darkreader-border-610726: #d10f52;

  --darkreader-border-920b3a: #c10f4d;

  --darkreader-border-3f3f46: #766e61;

  --darkreader-border-52525b: #70685c;

  --darkreader-border-ffffff26: rgba(48, 52, 54, 0.15);

  --darkreader-border-ecedee: #353a3c;

  --darkreader-border-d1d5db: #3c4143;

  --darkreader-border-9ca3af: #494f52;

  --darkreader-border-0066ff: #0047b3;

  --darkreader-border-002e62: #7c7366;

  --darkreader-border-004593: #0063d3;

  --darkreader-border-ffd900: #b39800;

  --darkreader-border-301050: #7c7366;

  --darkreader-border-481878: #6a23b1;

  --darkreader-border-38bdf8: #066f9e;

  --darkreader-border-17c964: #13a954;

  --darkreader-border-095028: #7d7467;

  --darkreader-border-0e793c: #16c05f;

  --darkreader-border-12a150: #14b55a;

  --darkreader-border-f5a524: #a36807;

  --darkreader-border-62420e: #c2821c;

  --darkreader-border-936316: #b2781b;

  --darkreader-border-c4841d: #a36e18;

  --darkreader-border-ffffff: #303436;

  --darkreader-border-d8e4ff: #002372;

  --darkreader-border-ebebeb: #363a3c;

  --darkreader-background-310413: #27030f;

  --darkreader-background-004dd9: #003eae;

  --darkreader-background-0066ff: #0052cc;

  --darkreader-background-023378: #022960;

  --darkreader-background-305a8e: #264872;

  --darkreader-background-383838: #2a2e2f;

  --darkreader-background-8ce2f9: #065e75;

  --darkreader-background-b7b7b7: #414649;

  --darkreader-background-d2e1ef: #292d2e;

  --darkreader-background-d2e2ef: #292d2e;

  --darkreader-background-e4ecfd: #202324;

  --darkreader-background-eff4fe: #1d1f20;

  --darkreader-background-f0f6ff: #1c1f20;

  --darkreader-background-f5faff: #1b1d1e;

  --darkreader-background-f7f7f7: #1d1f20;

  --darkreader-background-f7fbfc: #10252a;

  --darkreader-background-f91427: #bf0514;

  --darkreader-background-fafcff: #191c1d;

  --darkreader-background-f5f9ff: #1b1d1e;

  --darkreader-background-eff6ff: #1d1f20;

  --darkreader-background-3b82f6: #0844a6;

  --darkreader-background-2563eb: #1043b2;

  --darkreader-background-18181b: #131516;

  --darkreader-background-3f3f46: #323638;

  --darkreader-background-f31261: #bf0a49;

  --darkreader-background-610726: #4e061e;

  --darkreader-background-f3126133: rgba(191, 10, 73, 0.2);

  --darkreader-background-27272a: #1e2122;

  --darkreader-background-52525b80: rgba(65, 71, 73, 0.5);

  --darkreader-background-71717a: #586064;

  --darkreader-background-a1a1aa: #4b5154;

  --darkreader-background-f4f4f5: #1e2022;

  --darkreader-background-3f3f4666: rgba(50, 54, 56, 0.4);

  --darkreader-background-ffffff26: rgba(24, 26, 27, 0.15);

  --darkreader-background-ecedee: #222526;

  --darkreader-background-ecedee1a: rgba(34, 37, 38, 0.1);

  --darkreader-background-7a7a7a: #5c6467;

  --darkreader-background-f3f4f6: #1e2022;

  --darkreader-background-374151: #2c3441;

  --darkreader-background-1f2937: #19212c;

  --darkreader-background-0000004d: rgba(0, 0, 0, 0.3);

  --darkreader-background-002e62: #00254e;

  --darkreader-background-001731: #001227;

  --darkreader-background-0066ff33: rgba(0, 82, 204, 0.2);

  --darkreader-background-f87171: #860707;

  --darkreader-background-7f1d1d: #661717;

  --darkreader-background-ffd900: #998200;

  --darkreader-background-301050: #260d40;

  --darkreader-background-180828: #130620;

  --darkreader-background-ffd90033: rgba(153, 130, 0, 0.2);

  --darkreader-background-17c964: #12a150;

  --darkreader-background-095028: #074020;

  --darkreader-background-052814: #042010;

  --darkreader-background-17c96433: rgba(18, 161, 80, 0.2);

  --darkreader-background-f5a524: #b47208;

  --darkreader-background-62420e: #4e350b;

  --darkreader-background-312107: #271a06;

  --darkreader-background-f5a52433: rgba(180, 114, 8, 0.2);

  --darkreader-text-0066ff: #339cff;

  --darkreader-text-52525b80: rgba(177, 171, 161, 0.5);

  --darkreader-text-f31261: #f42970;

  --darkreader-text-434852: #b9b3aa;

  --darkreader-text-606060: #aba499;

  --darkreader-text-3b82f6: #459ff6;

  --darkreader-text-2563eb: #388fed;

  --darkreader-text-c20e4d: #f24883;

  --darkreader-text-f54180: #f54a86;

  --darkreader-text-f871a0: #f86b9c;

  --darkreader-text-f31261cc: rgba(244, 41, 112, 0.8);

  --darkreader-text-0b1f33: #d4d1cb;

  --darkreader-text-71717a: #9e9589;

  --darkreader-text-a1a1aa: #afa99e;

  --darkreader-text-d4d4d8: #cecac3;

  --darkreader-text-e4e4e7: #d8d5cf;

  --darkreader-text-ffd900: #ffdd1a;

  --darkreader-text-ecedee80: rgba(221, 218, 213, 0.5);

  --darkreader-text-7a7a7a: #9b9285;

  --darkreader-text-22c55e: #4ae081;

  --darkreader-text-3c3c5b: #b8b2a9;

  --darkreader-text-f97316: #fa7f2a;

  --darkreader-text-9ea5ad: #afa99e;

  --darkreader-text-0f0d32: #d4d0cb;

  --darkreader-text-005bc4: #56b1ff;

  --darkreader-text-338ef7: #3fa2f7;

  --darkreader-text-66abf9: #63b4f9;

  --darkreader-text-0f0d32cc: rgba(212, 208, 203, 0.8);

  --darkreader-text-ef4444: #f04d4d;

  --darkreader-text-7f1d1d: #e17d7d;

  --darkreader-text-6020a0: #a265e0;

  --darkreader-text-9353d3: #9a5ed6;

  --darkreader-text-ae7ede: #ad7cde;

  --darkreader-text-17c964: #45ea8c;

  --darkreader-text-45d483: #53d78d;

  --darkreader-text-74dfa2: #74dfa2;

  --darkreader-text-a2e9c1: #95e6b8;

  --darkreader-text-17c964cc: rgba(69, 234, 140, 0.8);

  --darkreader-text-14b8a6: #50ecdb;

  --darkreader-text-f5a524: #f6ac35;

  --darkreader-text-f7b750: #f7b954;

  --darkreader-text-f9c97c: #f9c573;

  --darkreader-text-fbdba7: #fad291;

  --darkreader-text-f5a524cc: rgba(246, 172, 53, 0.8);

  --darkreader-background-006fee: #0059be;

  --darkreader-background-f9f9f9: #1b1e1f;

  --darkreader-border-f9f9f9: #323638;

  --darkreader-background-e7f2ff: #1f2123;

  --darkreader-background-f4f7fb: #1c1f20;

  --darkreader-background-fbfbfb: #1a1c1e;

  --darkreader-background-bfdaff33: rgba(42, 46, 47, 0.2);

  --darkreader-background-ef4444: #9f0e0e;

  --darkreader-background-edf3f9: #1f2123;

  --darkreader-border-edf3f9: #1b3752;

  --darkreader-background-ffebc5: #563800;

  --darkreader-background-e6f7ff: #002d42;

  --darkreader-background-0034bc: #002a96;

  --darkreader-background-0546c4: #04389d;

  --darkreader-background-0138be: #012d98;

  --darkreader-background-0c5dcf: #0a4aa6;

  --darkreader-background-1989e4: #146eb6;

  --darkreader-background-eff2f5b2: rgba(31, 34, 35, 0.7);

  --darkreader-text-002f76: #85c4ff;

  --darkreader-text-023378: #85c3fd;

  --darkreader-text-7c8087: #999083;

  --darkreader-background-1b1f23: #16191c;

  --darkreader-text-1b1f23: #d4d1cb;

  --darkreader-border-1b1f23: #82796b;

  --darkreader-background-2d3844: #242d36;

  --darkreader-background-4a5969: #3b4754;

  --darkreader-background-242d36: #1d242b;

  --darkreader-background-ffeec5: #402d00;

  --darkreader-text-adb5bd: #b9b3aa;

  --darkreader-text-2d3844: #c4bfb8;

  --darkreader-background-dbeeff: #222526;

  --darkreader-background-ffffff00: rgba(24, 26, 27, 0);

  --darkreader-text-0000ff: #337dff;

  --darkreader-background-007bff80: rgba(0, 98, 204, 0.5);

  --darkreader-border-52525b4d: rgba(112, 104, 92, 0.3);

  --darkreader-background-3f3f4699: rgba(50, 54, 56, 0.6);

  --darkreader-border-71717a: #655e53;

  --darkreader-background-1f70ba: #195a95;

  --darkreader-background-1d4ed8: #173ead;

  --darkreader-background-e5e7eb: #25282a;

  --darkreader-text-b91c1c: #e55151;

  --darkreader-background-f3126180: rgba(191, 10, 73, 0.5);

  --darkreader-background-71717a80: rgba(88, 96, 100, 0.5);

  --darkreader-background-006fee80: rgba(0, 89, 190, 0.5);

  --darkreader-background-7828c880: rgba(96, 32, 160, 0.5);

  --darkreader-background-17c96480: rgba(18, 161, 80, 0.5);

  --darkreader-background-f5a52480: rgba(180, 114, 8, 0.5);

  --darkreader-border-006fee: #0056b8;

  --darkreader-background-0066ff80: rgba(0, 82, 204, 0.5);

  --darkreader-background-52525b: #414749;

  --darkreader-background-920b3a: #75092e;

  --darkreader-background-004593: #003776;

  --darkreader-background-481878: #3a1360;

  --darkreader-background-0e793c: #0b6130;

  --darkreader-background-936316: #764f12;

  --darkreader-text-52525b: #b1aba1;

  --darkreader-text-006fee: #3da6ff;

  --darkreader-text-7828c8: #9249db;

  --darkreader-border-000000: #8c8273;

  --darkreader-border-a1a1aa: #494f52;

  --darkreader-background-31041380: rgba(39, 3, 15, 0.5);

  --darkreader-background-18181b80: rgba(19, 21, 22, 0.5);

  --darkreader-background-00173180: rgba(0, 18, 39, 0.5);

  --darkreader-background-18082880: rgba(19, 6, 32, 0.5);

  --darkreader-background-05281480: rgba(4, 32, 16, 0.5);

  --darkreader-background-31210780: rgba(39, 26, 6, 0.5);

  --darkreader-text-6b7280: #9e9589;

  --darkreader-background-4b5563: #3c444f;

  --darkreader-background-0000000d: rgba(0, 0, 0, 0.05);

  --darkreader-background-f3126166: rgba(191, 10, 73, 0.4);

  --darkreader-background-3f3f4680: rgba(50, 54, 56, 0.5);

  --darkreader-background-ecedee66: rgba(34, 37, 38, 0.4);

  --darkreader-background-0066ff66: rgba(0, 82, 204, 0.4);

  --darkreader-background-ffd90066: rgba(153, 130, 0, 0.4);

  --darkreader-background-17c96466: rgba(18, 161, 80, 0.4);

  --darkreader-background-f5a52466: rgba(180, 114, 8, 0.4);

  --darkreader-background-f312614d: rgba(191, 10, 73, 0.3);

  --darkreader-background-0066ff4d: rgba(0, 82, 204, 0.3);

  --darkreader-background-ffd9004d: rgba(153, 130, 0, 0.3);

  --darkreader-background-17c9644d: rgba(18, 161, 80, 0.3);

  --darkreader-background-f5a5244d: rgba(180, 114, 8, 0.3);

  --darkreader-background-1d70b9: #175a94;

  --darkreader-border-1d70b9: #1a64a5;

  --darkreader-text-004dd9: #4aa4ff;

  --darkreader-background-1d212d1a: rgba(23, 26, 36, 0.1);

  --darkreader-background-1d212d26: rgba(23, 26, 36, 0.15);

  --darkreader-background-1d212d33: rgba(23, 26, 36, 0.2);

  --darkreader-background-1d212d14: rgba(23, 26, 36, 0.08);

  --darkreader-background-2060eb: #1044b5;

}
:host, html {
  line-height: 1.5;

  -webkit-text-size-adjust: 100%;

  -moz-tab-size: 4;

  tab-size: 4;

  font-family: var(--font-golos-text),sans-serif;

  font-feature-settings: normal;

  font-variation-settings: normal;

}
@layer {
  html {
    color-scheme: dark !important;

  }
}

Överlagra rutnät

Bildskärmsinställningar för rutnät

margin
border
padding

22.9333×20
22.9333×20
static

    box-sizing
    border-box
    display
    block
    float
    none
    line-height
    20px
    position
    static
    z-index
    auto
